* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.border {
  border: 1px solid;
}

.container {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.center-container {
  margin-left: 50px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.app {
  height: 100vh;
  width: 50vw;
  background: url(../images/bg-pattern-desktop.svg) no-repeat center center;
  background-size: cover;
}

.left-content {
  width: 80%;
}

.logo {
  padding: 40px 0px 120px 0;
}

.hero-img {
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/hero-desktop.jpg) no-repeat center center;
  background-size: cover;
}

.value-prop {
  line-height: 50px;
  margin-bottom: 30px;
  letter-spacing: 10px;
}

.value-prop span {
  display: block;
  font-size: 48px;
  text-transform: uppercase;
}

.value-prop span:first-child {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.value-prop span:nth-child(2),
.value-prop span:last-child {
  color: hsl(0, 6%, 24%);
}

p {
  width: 80%;
  font-size: 16px;
  color: hsl(0, 36%, 70%);
  line-height: 2rem;
  margin-bottom: 40px;
}

form {
  position: relative;
  width: 80%;
}

form input,
form button {
  height: 48px;
}

#email {
  width: 100%;
  padding-left: 20px;
  border: 1px solid hsl(0, 80%, 86%);
  border-radius: 40px;
  color: rgb(247, 190, 190);
}

#email::placeholder {
  color: hsl(0, 80%, 86%);
}

#email:focus {
  outline: none;
  border: 2px solid hsl(0, 93%, 68%);
}

.err-icon {
  background: url(../images/icon-error.svg) no-repeat center;
  background-position-x: 75%
}

.err-msg {
  display: none;
  color: hsl(0, 93%, 68%);
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
}

.show-err {
  display: block;
}

#email:invalid .errmsg {
  display: block;
}

#submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9;
  border: 0;
  border-radius: 40px;
  background: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  );
  color: white;
  box-shadow: 0 5px 10px rgba(206, 150, 150, 0.4);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.text {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#submit:hover {
  background: linear-gradient(0deg, hsl(0, 80%, 86%) 0%, hsl(0, 80%, 86%) 100%);
  box-shadow: 0 7px 15px rgba(206, 150, 150, 1);
  cursor: pointer;
}

#submit:hover .text {
  left: 130px;
}

#submit:hover .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-section {
  height: 100vh;
  background: url(../images/hero-desktop.jpg) no-repeat center center;
  background-size: cover;
}

footer {
  width: 50vw;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 70px;
}

.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1298px) and (min-width: 767px) {
  .logo {
    padding: 40px 0px 150px 0;
  }

  .value-prop-body {
    width: 95%;
    margin-bottom: 30px;
    line-height: 35px;
  }

  form {
    width: 95%;
  }

  .text {
    left: 50%;
  }

  .left-content {
    width: 90%;
  }
}

@media screen and (max-width: 768px) and (min-width: 571px) {
  .text {
    display: none;
  }

  .icon {
    left: 50%;
  }
}
@media screen and (max-width: 768px) and (min-width: 375px) {
  .left-section {
    width: 100vw;
  }
  .container {
    width: 100%;
    display: block;
  }
  .center-container {
    margin-left: 20px;
    border: 1px solid;
  }

  .sm-center {
    width: 100vw;
    padding: 0;
  }

  .right-section {
    display: none;
  }

  .logo {
    padding-left: 30px;
    padding-bottom: 40px;
    width: 60px;
    height: auto;
  }

  .hero-img {
    width: 100vw;
    height: 320px;
    position: relative;
    background: url(../images/hero-mobile.jpg) no-repeat top center;
    background-position-y: 0px;
    background-size: cover;
  }

  .vp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .value-prop span {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
  }
  .value-prop-body {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    line-height: 25px;
  }
  form {
    width: 90%;
    text-align: center;
  }
  #email {
    width: 90%;
  }

  #submit .text {
    display: none;
  }

  .icon {
    left: 50%;
  }

  footer {
    width: 100vw;
    padding: 0px;
  }
  footer p {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
  }
}
